.#*
\#*\#
*~
url/
elpa/
saveplace
ido.last
ac-comphist.dat
bookmarks
projectile-bookmarks.eld
/configuration.el
/configuration.html
/configuration.pdf
/configuration.tex
/smex-items
image-dired
/network-security.data
/tramp
eshell
thumbs
/.mc-lists.el
games
/projectile.cache
/eww-bookmarks
/recentf
/forge-database.sqlite
/transient
/private_feeds.el
/eln-cache/
/private_config.el
/diary
/.org-id-locations
/forge-database-v7-20220704-1122.sql
/projects
